/* ---MAIN-NAVIGATION-BAR--- */
//this is a header's sass component

//importing of project variables & parameters
@import '~styles/utils';
//importing of component variables
@import 'variables';

//COMMON
.header__main-navigation-block {
    height: inherit;
}

.navigation-bar {
    height: inherit;
    display: flex;
}

.navigation-bar__item {
    height: inherit;
    display: inline-flex;
    list-style: none;
    text-transform: uppercase;
    border: 1px solid $color_white_ffffff;
    transition: all .25s ease-in-out;

    &:hover {
        border: 1px solid $color_peach_f77;
    }
}

.navigation-bar__link {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 em(16px);
    color: $color_gray_727272;
    text-decoration: none;
    transition: all .15s ease-in-out;

    &:active {
        color: $color_white_ffffff;
        background-color: $color_peach_f77;
    }
}

.navigation-bar__link_active {
    color: $color_white_ffffff;
    background-color: $color_peach_f77;
}