//WIDTH VARIABLES
$width_content: 40%;
$width_view: 60%;

//HEIGHT VARIABLES
$height_contentMax: 100vmin;
$height_content: 92vmin;

//MIXIN SELECTORS
@mixin viewOf-header-footer {
    height: $height_contentMax - $height_content;
    min-height: 67px;
    width: $width_view;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}