/* ---MAIN--- */
//this is a main's sass component

//importing of project variables & params
@import '~styles/utils';

//COMMON
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vmin;
}