//BASE FILE
//this is a base sass(scss) file

//COMMON
body, div, nav, ul, h1, h2, h3, p, li, a {
    margin:0;
    padding: 0;
}

body {
    background-color: $color_white_ffffff;
}

h1, h2, h3, p, li, a {
    word-wrap: break-word;
}

h1, h2, h3 {
    font: normal rem(24px) 'Lato', sans-serif;
    color: $color_black_000000;
}

p, li, a {
    font: normal rem(16px) 'Roboto Mono', monospace;
    color: $color_black_222222;
}

::selection {
    background-color: $color_peach_f77;
}