/* ---LOGO--- */
//this is a logo's sass component

//importing of project variables & parameters
@import '~styles/utils';
//importing of component variables
@import 'variables';

//COMMON
.logo-link {
    display: flex;
}

.logo {
    height: 36px;
    width: 54px;
}

.logo__text {
    font: normal 40px 'Lato', sans-serif;
    fill: $color_gray_393939;
    transition: all .25s linear;
}

.logo:hover > .logo__text {
    fill: $color_peach_f77;
}